name: Update Stable Branch

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync-stable:
    runs-on: ubuntu-latest
    steps:
      - name: Find latest tag
        id: upstream_tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: noctalia-dev/noctalia-shell
          releases-only: false
          
      - name: Checkout upstream source
        uses: actions/checkout@v4
        with:
          repository: noctalia-dev/noctalia-shell
          ref: ${{ steps.upstream_tag.outputs.tag }}
          fetch-depth: 0

      - name: Push to stable branch
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_REPO: dindin12138/noctalia-shell
        run: |
          REMOTE_URL="https://x-access-token:$TOKEN@github.com/$TARGET_REPO.git"
          git remote add target_repo "$REMOTE_URL"
          
          echo "Pushing version ${{ steps.upstream_tag.outputs.tag }} to stable..."
          
          # 【修正点】使用 refs/heads/stable 明确指定我们要推送到是一个分支
          git push target_repo HEAD:refs/heads/stable --force
